<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="/intelcpu/0/load/2/plot" value="false" />
    <add key="/intelcpu/0/load/3/plot" value="false" />
    <add key="/intelcpu/0/load/4/plot" value="false" />
    <add key="/intelcpu/0/load/5/plot" value="false" />
    <add key="/intelcpu/0/load/6/plot" value="false" />
    <add key="/intelcpu/0/load/7/plot" value="false" />
    <add key="/intelcpu/0/load/8/plot" value="false" />
    <add key="/intelcpu/0/load/9/plot" value="false" />
    <add key="/intelcpu/0/load/10/plot" value="false" />
    <add key="/intelcpu/0/load/11/plot" value="false" />
    <add key="/intelcpu/0/load/12/plot" value="false" />
    <add key="/intelcpu/0/load/13/plot" value="false" />
    <add key="/intelcpu/0/load/0/plot" value="false" />
    <add key="/intelcpu/0/load/1/plot" value="false" />
    <add key="/intelcpu/0/temperature/0/plot" value="false" />
    <add key="/intelcpu/0/temperature/1/plot" value="false" />
    <add key="/intelcpu/0/temperature/2/plot" value="false" />
    <add key="/intelcpu/0/temperature/3/plot" value="false" />
    <add key="/intelcpu/0/temperature/4/plot" value="false" />
    <add key="/intelcpu/0/temperature/5/plot" value="false" />
    <add key="/intelcpu/0/temperature/6/plot" value="false" />
    <add key="/intelcpu/0/temperature/7/plot" value="false" />
    <add key="/intelcpu/0/temperature/8/plot" value="false" />
    <add key="/intelcpu/0/temperature/9/plot" value="false" />
    <add key="/intelcpu/0/temperature/10/plot" value="false" />
    <add key="/intelcpu/0/temperature/11/plot" value="false" />
    <add key="/intelcpu/0/temperature/12/plot" value="false" />
    <add key="/intelcpu/0/temperature/13/plot" value="false" />
    <add key="/intelcpu/0/temperature/14/plot" value="false" />
    <add key="/intelcpu/0/temperature/15/plot" value="false" />
    <add key="/intelcpu/0/temperature/16/plot" value="false" />
    <add key="/intelcpu/0/temperature/17/plot" value="false" />
    <add key="/intelcpu/0/temperature/18/plot" value="false" />
    <add key="/intelcpu/0/temperature/19/plot" value="false" />
    <add key="/intelcpu/0/temperature/20/plot" value="false" />
    <add key="/intelcpu/0/temperature/21/plot" value="false" />
    <add key="/intelcpu/0/temperature/22/plot" value="false" />
    <add key="/intelcpu/0/clock/1/plot" value="false" />
    <add key="/intelcpu/0/clock/2/plot" value="false" />
    <add key="/intelcpu/0/clock/3/plot" value="false" />
    <add key="/intelcpu/0/clock/4/plot" value="false" />
    <add key="/intelcpu/0/clock/5/plot" value="false" />
    <add key="/intelcpu/0/clock/6/plot" value="false" />
    <add key="/intelcpu/0/clock/7/plot" value="false" />
    <add key="/intelcpu/0/clock/8/plot" value="false" />
    <add key="/intelcpu/0/clock/9/plot" value="false" />
    <add key="/intelcpu/0/clock/10/plot" value="false" />
    <add key="/intelcpu/0/power/0/plot" value="false" />
    <add key="/intelcpu/0/power/1/plot" value="false" />
    <add key="/intelcpu/0/power/3/plot" value="false" />
    <add key="/intelcpu/0/power/4/plot" value="false" />
    <add key="/intelcpu/0/voltage/0/plot" value="false" />
    <add key="/intelcpu/0/voltage/1/plot" value="false" />
    <add key="/intelcpu/0/voltage/2/plot" value="false" />
    <add key="/intelcpu/0/voltage/3/plot" value="false" />
    <add key="/intelcpu/0/voltage/4/plot" value="false" />
    <add key="/intelcpu/0/voltage/5/plot" value="false" />
    <add key="/intelcpu/0/voltage/6/plot" value="false" />
    <add key="/intelcpu/0/voltage/7/plot" value="false" />
    <add key="/intelcpu/0/voltage/8/plot" value="false" />
    <add key="/intelcpu/0/voltage/9/plot" value="false" />
    <add key="/intelcpu/0/voltage/10/plot" value="false" />
    <add key="/intelcpu/0/clock/0/plot" value="false" />
    <add key="/ram/data/0/plot" value="false" />
    <add key="/ram/data/1/plot" value="false" />
    <add key="/ram/load/0/plot" value="false" />
    <add key="/ram/data/2/plot" value="false" />
    <add key="/ram/data/3/plot" value="false" />
    <add key="/ram/load/1/plot" value="false" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_4628%26SUBSYS_0BC21028%26REV_0C%233%2611583659%260%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/power/0/plot" value="false" />
    <add key="/hdd/0/load/0/plot" value="false" />
    <add key="/hdd/0/load/31/plot" value="false" />
    <add key="/hdd/0/load/32/plot" value="false" />
    <add key="/hdd/0/load/33/plot" value="false" />
    <add key="/hdd/0/throughput/34/plot" value="false" />
    <add key="/hdd/0/throughput/35/plot" value="false" />
    <add key="/nic/%7B54E73391-D5C3-4973-88CD-719CA46E3034%7D/data/2/plot" value="false" />
    <add key="/nic/%7B54E73391-D5C3-4973-88CD-719CA46E3034%7D/data/3/plot" value="false" />
    <add key="/nic/%7B54E73391-D5C3-4973-88CD-719CA46E3034%7D/throughput/7/plot" value="false" />
    <add key="/nic/%7B54E73391-D5C3-4973-88CD-719CA46E3034%7D/throughput/8/plot" value="false" />
    <add key="/nic/%7B54E73391-D5C3-4973-88CD-719CA46E3034%7D/load/1/plot" value="false" />
    <add key="/nic/%7B3C2F1FCE-D4AE-4B4F-8EE2-DB8F603A1762%7D/data/2/plot" value="false" />
    <add key="/nic/%7B3C2F1FCE-D4AE-4B4F-8EE2-DB8F603A1762%7D/data/3/plot" value="false" />
    <add key="/nic/%7B3C2F1FCE-D4AE-4B4F-8EE2-DB8F603A1762%7D/throughput/7/plot" value="false" />
    <add key="/nic/%7B3C2F1FCE-D4AE-4B4F-8EE2-DB8F603A1762%7D/throughput/8/plot" value="false" />
    <add key="/nic/%7B3C2F1FCE-D4AE-4B4F-8EE2-DB8F603A1762%7D/load/1/plot" value="false" />
    <add key="/nic/%7B59C4D15A-D803-4ECA-8F1E-16FB010D34EE%7D/data/2/plot" value="false" />
    <add key="/nic/%7B59C4D15A-D803-4ECA-8F1E-16FB010D34EE%7D/data/3/plot" value="false" />
    <add key="/nic/%7B59C4D15A-D803-4ECA-8F1E-16FB010D34EE%7D/throughput/7/plot" value="false" />
    <add key="/nic/%7B59C4D15A-D803-4ECA-8F1E-16FB010D34EE%7D/throughput/8/plot" value="false" />
    <add key="/nic/%7B59C4D15A-D803-4ECA-8F1E-16FB010D34EE%7D/load/1/plot" value="false" />
    <add key="/nic/%7B18FB06A6-DD54-4D7A-B924-B056CBB8CD1B%7D/data/2/plot" value="false" />
    <add key="/nic/%7B18FB06A6-DD54-4D7A-B924-B056CBB8CD1B%7D/data/3/plot" value="false" />
    <add key="/nic/%7B18FB06A6-DD54-4D7A-B924-B056CBB8CD1B%7D/throughput/7/plot" value="false" />
    <add key="/nic/%7B18FB06A6-DD54-4D7A-B924-B056CBB8CD1B%7D/throughput/8/plot" value="false" />
    <add key="/nic/%7B18FB06A6-DD54-4D7A-B924-B056CBB8CD1B%7D/load/1/plot" value="false" />
    <add key="/nic/%7BA025B872-763E-467B-9C87-EF1BF324BC43%7D/data/2/plot" value="false" />
    <add key="/nic/%7BA025B872-763E-467B-9C87-EF1BF324BC43%7D/data/3/plot" value="false" />
    <add key="/nic/%7BA025B872-763E-467B-9C87-EF1BF324BC43%7D/throughput/7/plot" value="false" />
    <add key="/nic/%7BA025B872-763E-467B-9C87-EF1BF324BC43%7D/throughput/8/plot" value="false" />
    <add key="/nic/%7BA025B872-763E-467B-9C87-EF1BF324BC43%7D/load/1/plot" value="false" />
    <add key="/nic/%7B9EFF3B87-74C0-4289-82F3-9D0BDB187FFC%7D/data/2/plot" value="false" />
    <add key="/nic/%7B9EFF3B87-74C0-4289-82F3-9D0BDB187FFC%7D/data/3/plot" value="false" />
    <add key="/nic/%7B9EFF3B87-74C0-4289-82F3-9D0BDB187FFC%7D/throughput/7/plot" value="false" />
    <add key="/nic/%7B9EFF3B87-74C0-4289-82F3-9D0BDB187FFC%7D/throughput/8/plot" value="false" />
    <add key="/nic/%7B9EFF3B87-74C0-4289-82F3-9D0BDB187FFC%7D/load/1/plot" value="false" />
    <add key="/nic/%7B6DD87F39-6C59-4D12-9C94-F66BFF8A33EA%7D/data/2/plot" value="false" />
    <add key="/nic/%7B6DD87F39-6C59-4D12-9C94-F66BFF8A33EA%7D/data/3/plot" value="false" />
    <add key="/nic/%7B6DD87F39-6C59-4D12-9C94-F66BFF8A33EA%7D/throughput/7/plot" value="false" />
    <add key="/nic/%7B6DD87F39-6C59-4D12-9C94-F66BFF8A33EA%7D/throughput/8/plot" value="false" />
    <add key="/nic/%7B6DD87F39-6C59-4D12-9C94-F66BFF8A33EA%7D/load/1/plot" value="false" />
    <add key="/nic/%7B7F15038D-A8F4-46EF-8DAB-B118772AA564%7D/data/2/plot" value="false" />
    <add key="/nic/%7B7F15038D-A8F4-46EF-8DAB-B118772AA564%7D/data/3/plot" value="false" />
    <add key="/nic/%7B7F15038D-A8F4-46EF-8DAB-B118772AA564%7D/throughput/7/plot" value="false" />
    <add key="/nic/%7B7F15038D-A8F4-46EF-8DAB-B118772AA564%7D/throughput/8/plot" value="false" />
    <add key="/nic/%7B7F15038D-A8F4-46EF-8DAB-B118772AA564%7D/load/1/plot" value="false" />
    <add key="/battery/DELL-6TW9W32%00_1/name" value="DELL 6TW9W32&#x0;" />
    <add key="/battery/DELL-6TW9W32%00_1/energy/0/plot" value="false" />
    <add key="/battery/DELL-6TW9W32%00_1/energy/1/plot" value="false" />
    <add key="/battery/DELL-6TW9W32%00_1/level/1/plot" value="false" />
    <add key="theme" value="auto" />
    <add key="plotForm.Location.X" value="-32768" />
    <add key="plotForm.Location.Y" value="100" />
    <add key="plotForm.Width" value="600" />
    <add key="plotForm.Height" value="400" />
    <add key="mainForm.Location.X" value="960" />
    <add key="mainForm.Location.Y" value="-996" />
    <add key="mainForm.Width" value="890" />
    <add key="mainForm.Height" value="835" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_4628%26SUBSYS_0BC21028%26REV_0C%233%2611583659%260%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/smalldata/2/plot" value="false" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_4628%26SUBSYS_0BC21028%26REV_0C%233%2611583659%260%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/smalldata/1/plot" value="false" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_4628%26SUBSYS_0BC21028%26REV_0C%233%2611583659%260%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/smalldata/0/plot" value="false" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_4628%26SUBSYS_0BC21028%26REV_0C%233%2611583659%260%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/load/0/plot" value="false" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_4628%26SUBSYS_0BC21028%26REV_0C%233%2611583659%260%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/load/9/plot" value="false" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_4628%26SUBSYS_0BC21028%26REV_0C%233%2611583659%260%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/load/1/plot" value="false" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_4628%26SUBSYS_0BC21028%26REV_0C%233%2611583659%260%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/load/11/plot" value="false" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_4628%26SUBSYS_0BC21028%26REV_0C%233%2611583659%260%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/load/10/plot" value="false" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_4628%26SUBSYS_0BC21028%26REV_0C%233%2611583659%260%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/load/3/plot" value="false" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_4628%26SUBSYS_0BC21028%26REV_0C%233%2611583659%260%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/load/4/plot" value="false" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_4628%26SUBSYS_0BC21028%26REV_0C%233%2611583659%260%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/load/5/plot" value="false" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_4628%26SUBSYS_0BC21028%26REV_0C%233%2611583659%260%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/load/6/plot" value="false" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_4628%26SUBSYS_0BC21028%26REV_0C%233%2611583659%260%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/load/7/plot" value="false" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_4628%26SUBSYS_0BC21028%26REV_0C%233%2611583659%260%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/load/2/plot" value="false" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_4628%26SUBSYS_0BC21028%26REV_0C%233%2611583659%260%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/load/12/plot" value="false" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_4628%26SUBSYS_0BC21028%26REV_0C%233%2611583659%260%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/load/8/plot" value="false" />
    <add key="/battery/DELL-6TW9W32%00_1/power/0/name" value="Charge/Discharge Rate" />
    <add key="/battery/DELL-6TW9W32%00_1/current/0/name" value="Charge/Discharge Current" />
    <add key="/battery/DELL-6TW9W32%00_1/energy/2/plot" value="false" />
    <add key="/battery/DELL-6TW9W32%00_1/level/0/plot" value="false" />
    <add key="/battery/DELL-6TW9W32%00_1/voltage/0/plot" value="false" />
    <add key="/battery/DELL-6TW9W32%00_1/current/0/plot" value="false" />
    <add key="/battery/DELL-6TW9W32%00_1/power/0/plot" value="false" />
    <add key="/battery/DELL-6TW9W32%00_1/energy/0/values" value="" />
    <add key="/battery/DELL-6TW9W32%00_1/energy/1/values" value="" />
    <add key="/battery/DELL-6TW9W32%00_1/level/1/values" value="" />
    <add key="/battery/DELL-6TW9W32%00_1/level/0/values" value="H4sIAAAAAAAEAOP2/ho99epdDwaGE05sH1XZGcDghBMA19TtoRgAAAA=" />
    <add key="/battery/DELL-6TW9W32%00_1/voltage/0/values" value="H4sIAAAAAAAEAOP2/ho99epdj6cXHBx1QhOYGIDg8lkHx54pSWD2zXMOjn7syWD2sdMOjgD33DLGMAAAAA==" />
    <add key="/battery/DELL-6TW9W32%00_1/energy/2/values" value="H4sIAAAAAAAEAOP2/ho99epdD4agV25sH1XZGUAAyAYAcC+mpBgAAAA=" />
    <add key="/battery/DELL-6TW9W32%00_1/current/0/values" value="H4sIAAAAAAAEAOP2/ho99epdDwYgYPuoys4ABQDoi14WGAAAAA==" />
    <add key="/battery/DELL-6TW9W32%00_1/power/0/values" value="H4sIAAAAAAAEAOP2/ho99epdDwYgYPuoys4ABQDoi14WGAAAAA==" />
    <add key="/battery/DELL-6TW9W32%00_1/timespan/0/values" value="" />
    <add key="/battery/DELL-6TW9W32%00_1/temperature/0/values" value="" />
    <add key="/nic/%7B54E73391-D5C3-4973-88CD-719CA46E3034%7D/data/2/values" value="H4sIAAAAAAAEAFut9Dl66tW7HgxAMIdVnZ0BCgCMyCLwGAAAAA==" />
    <add key="/nic/%7B54E73391-D5C3-4973-88CD-719CA46E3034%7D/data/3/values" value="H4sIAAAAAAAEAFut9Dl66tW7HgxAMIdVnZ0BCgCMyCLwGAAAAA==" />
    <add key="/nic/%7B54E73391-D5C3-4973-88CD-719CA46E3034%7D/throughput/7/values" value="H4sIAAAAAAAEAFut9Dl66tW7HgxAMIdVnZ0BCgCMyCLwGAAAAA==" />
    <add key="/nic/%7B54E73391-D5C3-4973-88CD-719CA46E3034%7D/throughput/8/values" value="H4sIAAAAAAAEAFut9Dl66tW7HgxAMIdVnZ0BCgCMyCLwGAAAAA==" />
    <add key="/nic/%7B54E73391-D5C3-4973-88CD-719CA46E3034%7D/load/1/values" value="H4sIAAAAAAAEAFut9Dl66tW7HgxAMIdVnZ0BCgCMyCLwGAAAAA==" />
    <add key="/nic/%7B3C2F1FCE-D4AE-4B4F-8EE2-DB8F603A1762%7D/data/2/values" value="H4sIAAAAAAAEAFut9Dl66tW7HgxAMIdVnZ0BCgCMyCLwGAAAAA==" />
    <add key="/nic/%7B3C2F1FCE-D4AE-4B4F-8EE2-DB8F603A1762%7D/data/3/values" value="H4sIAAAAAAAEAFut9Dl66tW7HgxAMIdVnZ0BCgCMyCLwGAAAAA==" />
    <add key="/nic/%7B3C2F1FCE-D4AE-4B4F-8EE2-DB8F603A1762%7D/throughput/7/values" value="H4sIAAAAAAAEAFut9Dl66tW7HgxAMIdVnZ0BCgCMyCLwGAAAAA==" />
    <add key="/nic/%7B3C2F1FCE-D4AE-4B4F-8EE2-DB8F603A1762%7D/throughput/8/values" value="H4sIAAAAAAAEAFut9Dl66tW7HgxAMIdVnZ0BCgCMyCLwGAAAAA==" />
    <add key="/nic/%7B3C2F1FCE-D4AE-4B4F-8EE2-DB8F603A1762%7D/load/1/values" value="H4sIAAAAAAAEAFut9Dl66tW7HgxAMIdVnZ0BCgCMyCLwGAAAAA==" />
    <add key="/nic/%7B59C4D15A-D803-4ECA-8F1E-16FB010D34EE%7D/data/2/values" value="H4sIAAAAAAAEAFut9Dl66tW7HgxAMIdVnZ0BCgCMyCLwGAAAAA==" />
    <add key="/nic/%7B59C4D15A-D803-4ECA-8F1E-16FB010D34EE%7D/data/3/values" value="H4sIAAAAAAAEAFut9Dl66tW7HgxAMIdVnZ0BCgCMyCLwGAAAAA==" />
    <add key="/nic/%7B59C4D15A-D803-4ECA-8F1E-16FB010D34EE%7D/throughput/7/values" value="H4sIAAAAAAAEAFut9Dl66tW7HgxAMIdVnZ0BCgCMyCLwGAAAAA==" />
    <add key="/nic/%7B59C4D15A-D803-4ECA-8F1E-16FB010D34EE%7D/throughput/8/values" value="H4sIAAAAAAAEAFut9Dl66tW7HgxAMIdVnZ0BCgCMyCLwGAAAAA==" />
    <add key="/nic/%7B59C4D15A-D803-4ECA-8F1E-16FB010D34EE%7D/load/1/values" value="H4sIAAAAAAAEAFut9Dl66tW7HgxAMIdVnZ0BCgCMyCLwGAAAAA==" />
    <add key="/nic/%7B18FB06A6-DD54-4D7A-B924-B056CBB8CD1B%7D/data/2/values" value="H4sIAAAAAAAEAFut9Dl66tW7HgxAMIdVnZ0BCgCMyCLwGAAAAA==" />
    <add key="/nic/%7B18FB06A6-DD54-4D7A-B924-B056CBB8CD1B%7D/data/3/values" value="H4sIAAAAAAAEAFut9Dl66tW7HgxAMIdVnZ0BCgCMyCLwGAAAAA==" />
    <add key="/nic/%7B18FB06A6-DD54-4D7A-B924-B056CBB8CD1B%7D/throughput/7/values" value="H4sIAAAAAAAEAFut9Dl66tW7HgxAMIdVnZ0BCgCMyCLwGAAAAA==" />
    <add key="/nic/%7B18FB06A6-DD54-4D7A-B924-B056CBB8CD1B%7D/throughput/8/values" value="H4sIAAAAAAAEAFut9Dl66tW7HgxAMIdVnZ0BCgCMyCLwGAAAAA==" />
    <add key="/nic/%7B18FB06A6-DD54-4D7A-B924-B056CBB8CD1B%7D/load/1/values" value="H4sIAAAAAAAEAFut9Dl66tW7HgxAMIdVnZ0BCgCMyCLwGAAAAA==" />
    <add key="/nic/%7BA025B872-763E-467B-9C87-EF1BF324BC43%7D/data/2/values" value="H4sIAAAAAAAEALvl+Tl66tW7HgxAUMKqzs4ABQD8zIzpGAAAAA==" />
    <add key="/nic/%7BA025B872-763E-467B-9C87-EF1BF324BC43%7D/data/3/values" value="H4sIAAAAAAAEALvl+Tl66tW7HgxAUMKqzs4ABQD8zIzpGAAAAA==" />
    <add key="/nic/%7BA025B872-763E-467B-9C87-EF1BF324BC43%7D/throughput/7/values" value="H4sIAAAAAAAEALvl+Tl66tW7HgxAUMKqzs4ABQD8zIzpGAAAAA==" />
    <add key="/nic/%7BA025B872-763E-467B-9C87-EF1BF324BC43%7D/throughput/8/values" value="H4sIAAAAAAAEALvl+Tl66tW7HgxAUMKqzs4ABQD8zIzpGAAAAA==" />
    <add key="/nic/%7BA025B872-763E-467B-9C87-EF1BF324BC43%7D/load/1/values" value="H4sIAAAAAAAEALvl+Tl66tW7HgxAUMKqzs4ABQD8zIzpGAAAAA==" />
    <add key="/nic/%7B9EFF3B87-74C0-4289-82F3-9D0BDB187FFC%7D/data/2/values" value="H4sIAAAAAAAEALvl+Tl66tW7HgwSx8xKWNXZGUAAyAYA+uncvxgAAAA=" />
    <add key="/nic/%7B9EFF3B87-74C0-4289-82F3-9D0BDB187FFC%7D/data/3/values" value="H4sIAAAAAAAEALvl+Tl66tW7HgxAUMKqzs4ABQD8zIzpGAAAAA==" />
    <add key="/nic/%7B9EFF3B87-74C0-4289-82F3-9D0BDB187FFC%7D/throughput/7/values" value="H4sIAAAAAAAEALvl+Tl66tW7HgxAUMKqzs4ABQD8zIzpGAAAAA==" />
    <add key="/nic/%7B9EFF3B87-74C0-4289-82F3-9D0BDB187FFC%7D/throughput/8/values" value="H4sIAAAAAAAEALvl+Tl66tW7HgxAUMKqzs4ABQD8zIzpGAAAAA==" />
    <add key="/nic/%7B9EFF3B87-74C0-4289-82F3-9D0BDB187FFC%7D/load/1/values" value="H4sIAAAAAAAEALvl+Tl66tW7HgxAUMKqzs4ABQD8zIzpGAAAAA==" />
    <add key="/nic/%7B6DD87F39-6C59-4D12-9C94-F66BFF8A33EA%7D/data/2/values" value="H4sIAAAAAAAEALvl+Tl66tW7HgwSx8xKWNXZGUAAyAYA+uncvxgAAAA=" />
    <add key="/nic/%7B6DD87F39-6C59-4D12-9C94-F66BFF8A33EA%7D/data/3/values" value="H4sIAAAAAAAEALvl+Tl66tW7HgxAUMKqzs4ABQD8zIzpGAAAAA==" />
    <add key="/nic/%7B6DD87F39-6C59-4D12-9C94-F66BFF8A33EA%7D/throughput/7/values" value="H4sIAAAAAAAEALvl+Tl66tW7HgxAUMKqzs4ABQD8zIzpGAAAAA==" />
    <add key="/nic/%7B6DD87F39-6C59-4D12-9C94-F66BFF8A33EA%7D/throughput/8/values" value="H4sIAAAAAAAEALvl+Tl66tW7HgxAUMKqzs4ABQD8zIzpGAAAAA==" />
    <add key="/nic/%7B6DD87F39-6C59-4D12-9C94-F66BFF8A33EA%7D/load/1/values" value="H4sIAAAAAAAEALvl+Tl66tW7HgxAUMKqzs4ABQD8zIzpGAAAAA==" />
    <add key="/nic/%7B7F15038D-A8F4-46EF-8DAB-B118772AA564%7D/data/2/values" value="H4sIAAAAAAAEADsW+zl66tW7Hl9Sl9iu0E9kYgACvYqltqHLk8FsnWdLbeP0ksBsUa1ltgC6TJMVMAAAAA==" />
    <add key="/nic/%7B7F15038D-A8F4-46EF-8DAB-B118772AA564%7D/data/3/values" value="H4sIAAAAAAAEADsW+zl66tW7HuLWRXYr9BOZGIDg9dwiu9DlyWB2F2+xXZxeEpj9YH6xHQB6cU2KMAAAAA==" />
    <add key="/nic/%7B7F15038D-A8F4-46EF-8DAB-B118772AA564%7D/throughput/7/values" value="H4sIAAAAAAAEADsW+zl66tW7Huwbdruv0E9kYgCCqIzD7qHLk8HsSvdPbnF6SWB2/1tBdwCm8WapMAAAAA==" />
    <add key="/nic/%7B7F15038D-A8F4-46EF-8DAB-B118772AA564%7D/throughput/8/values" value="H4sIAAAAAAAEADsW+zl66tW7HgaOE91X6CcyMQBBmMcp99DlyWD2XzNWjzi9JDDbrPWvOwCVY9bQMAAAAA==" />
    <add key="/nic/%7B7F15038D-A8F4-46EF-8DAB-B118772AA564%7D/load/1/values" value="H4sIAAAAAAAEADsW+zl66tW7HjvkFe1W6CcyMQCBfamDXejyZDC7wl7OLk4vCcxe+V/WDgCxf8jhMAAAAA==" />
    <add key="/hdd/0/load/0/values" value="" />
    <add key="/hdd/0/load/31/values" value="H4sIAAAAAAAEALvx+1P01Kt3PRZ4bnF4mJnIxAAEhySPOiyfngxmX+xncgxgTQKzjV7NdwAAR4RRBzAAAAA=" />
    <add key="/hdd/0/load/32/values" value="H4sIAAAAAAAEALvx+1P01Kt3PSatWGL3MDORiQEI9olMt1s+PRnM3jE5zy6ANQnMfpf1wQ4Av0PZIjAAAAA=" />
    <add key="/hdd/0/load/33/values" value="H4sIAAAAAAAEALvx+1P01Kt3Pd5v++b4MDORiQEIpBdfdFg+PRnMPtvJ6hjAmgRmh31c6QAAdStThjAAAAA=" />
    <add key="/hdd/0/throughput/34/values" value="H4sIAAAAAAAEACsJ7IqZevWux5ewI56tW1KYGICgaD2rl41pMpjtwn7N61R7Gpj9zavVEwDkcDiWMAAAAA==" />
    <add key="/hdd/0/throughput/35/values" value="H4sIAAAAAAAEACsJ7IqZevWuR5D5XY/WLSlMDEBQai7paWOaDGbHSgt5nmpPA7ONTit7AgBser6IMAAAAA==" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_4628%26SUBSYS_0BC21028%26REV_0C%233%2611583659%260%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/smalldata/0/values" value="H4sIAAAAAAAEALvx+1P01Kt3PTzEmlweZiYyMQCBx65Gl+XTk8HsHdKNLgGsSWD2im2NLgC35Sh0MAAAAA==" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_4628%26SUBSYS_0BC21028%26REV_0C%233%2611583659%260%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/smalldata/1/values" value="H4sIAAAAAAAEACsJ7IqZevWuR1LvLdfWLSlMDECQtOSWq41pMpjNduaW66n2NDDba+ktVwAz9q2hMAAAAA==" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_4628%26SUBSYS_0BC21028%26REV_0C%233%2611583659%260%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/smalldata/2/values" value="H4sIAAAAAAAEALvx+1P01Kt3Pb4I/Xa9wabOzgAEIDYAN5KE/BgAAAA=" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_4628%26SUBSYS_0BC21028%26REV_0C%233%2611583659%260%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/power/0/values" value="H4sIAAAAAAAEALvx+1P01Kt3PZiXu9o9zExkYgACL757tsunJ4PZc+0NbQNYk8DsyauO2wIAhHa8DjAAAAA=" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_4628%26SUBSYS_0BC21028%26REV_0C%233%2611583659%260%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/load/0/values" value="H4sIAAAAAAAEALvx+1P01Kt3PT7o9Do+zExkYgCCFX+1HZdPTwazL+046BDAmgRmb46wcgQAPXSIZzAAAAA=" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_4628%26SUBSYS_0BC21028%26REV_0C%233%2611583659%260%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/load/1/values" value="H4sIAAAAAAAEALvx+1P01Kt3PRiA4AabOjsDFAAA9pAUJhgAAAA=" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_4628%26SUBSYS_0BC21028%26REV_0C%233%2611583659%260%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/load/2/values" value="H4sIAAAAAAAEALvx+1P01Kt3PRiA4AabOjsDFAAA9pAUJhgAAAA=" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_4628%26SUBSYS_0BC21028%26REV_0C%233%2611583659%260%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/load/3/values" value="H4sIAAAAAAAEALvx+1P01Kt3PRiA4AabOjsDFAAA9pAUJhgAAAA=" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_4628%26SUBSYS_0BC21028%26REV_0C%233%2611583659%260%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/load/4/values" value="H4sIAAAAAAAEALvx+1P01Kt3PRiA4AabOjsDFAAA9pAUJhgAAAA=" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_4628%26SUBSYS_0BC21028%26REV_0C%233%2611583659%260%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/load/5/values" value="H4sIAAAAAAAEALvx+1P01Kt3PRiA4AabOjsDFAAA9pAUJhgAAAA=" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_4628%26SUBSYS_0BC21028%26REV_0C%233%2611583659%260%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/load/6/values" value="H4sIAAAAAAAEALvx+1P01Kt3PRiA4AabOjsDFAAA9pAUJhgAAAA=" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_4628%26SUBSYS_0BC21028%26REV_0C%233%2611583659%260%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/load/7/values" value="H4sIAAAAAAAEALvx+1P01Kt3PRiA4AabOjsDFAAA9pAUJhgAAAA=" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_4628%26SUBSYS_0BC21028%26REV_0C%233%2611583659%260%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/load/8/values" value="H4sIAAAAAAAEALvx+1P01Kt3PRiA4AabOjsDFAAA9pAUJhgAAAA=" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_4628%26SUBSYS_0BC21028%26REV_0C%233%2611583659%260%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/load/9/values" value="H4sIAAAAAAAEALvx+1P01Kt3PRiA4AabOjsDFAAA9pAUJhgAAAA=" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_4628%26SUBSYS_0BC21028%26REV_0C%233%2611583659%260%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/load/10/values" value="H4sIAAAAAAAEALvx+1P01Kt3PRiA4AabOjsDFAAA9pAUJhgAAAA=" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_4628%26SUBSYS_0BC21028%26REV_0C%233%2611583659%260%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/load/11/values" value="H4sIAAAAAAAEALvx+1P01Kt3PYpYLzg8zExkYgACpbfzHZZPTwazFd6IOgSwJoHZnd9WOwAA8ivEazAAAAA=" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_4628%26SUBSYS_0BC21028%26REV_0C%233%2611583659%260%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/load/12/values" value="H4sIAAAAAAAEALvx+1P01Kt3PRiA4AabOjsDFAAA9pAUJhgAAAA=" />
    <add key="/ram/data/0/values" value="H4sIAAAAAAAEALvx+1P01Kt3PQ5ecnd8mJnIxAAE8RvcHZdPTwaznWa6OwawJoHZhSvcHQH+x7DNMAAAAA==" />
    <add key="/ram/data/1/values" value="H4sIAAAAAAAEALvx+1P01Kt3Pc4w+Do8zExkYgCCkC5fh+XTk8HsE898HQJYk8BsnlW+DgBZwNHsMAAAAA==" />
    <add key="/ram/load/0/values" value="H4sIAAAAAAAEALvx+1P01Kt3PfbpzHd6mJnIxAAE0YLznZZPTwazP/6b5xTAmgRmc3LPdwIAzoQNQDAAAAA=" />
    <add key="/ram/data/2/values" value="H4sIAAAAAAAEALvx+1P01Kt3PRLZmhwfZiYyMQCB0eVGx+XTk8Fs9vONjgGsSWD2k2uNjgCZAaFxMAAAAA==" />
    <add key="/ram/data/3/values" value="H4sIAAAAAAAEALvx+1P01Kt3PVJ45jk8zExkYgACpZvzHJZPTwazz7yc5xDAmgRmh52a5wAAjrYFojAAAAA=" />
    <add key="/ram/load/1/values" value="H4sIAAAAAAAEALvx+1P01Kt3PZKTZzo9zExkYgACJvWZTsunJ4PZ4koznQJYk8DsOO2ZTgBxOyeVMAAAAA==" />
    <add key="/intelcpu/0/load/0/values" value="H4sIAAAAAAAEANNoc4yeevWux6y57k799SlMDEAQ6a7h1BeSBGZPDdvm6PguEcxmjLjuCABb67sAMAAAAA==" />
    <add key="/intelcpu/0/load/1/values" value="H4sIAAAAAAAEANNoc4yeevWuh/7xHqf++hQmBiB41efh1BeSBGa3LGVycnyXCGZ7xfM5AQCNg7nVMAAAAA==" />
    <add key="/intelcpu/0/load/2/values" value="H4sIAAAAAAAEADOMd4yeevWux5qH9U5ty1KYGIDgF7OdU19IEpidxNzi6PguEcz+tneZIwCzzXwsMAAAAA==" />
    <add key="/intelcpu/0/load/3/values" value="H4sIAAAAAAAEANNoc4yeevWuB48Jv1N/fQoTAxBMWynn1BeSBGa7Rs51dHyXCGbbyR12BAAtZ0P7MAAAAA==" />
    <add key="/intelcpu/0/load/4/values" value="H4sIAAAAAAAEANNoc4yeevWux/P54k799SlMDEAQmSvl1BeSBGaf3Wfp6PguEcx+fbXEEQAMPPXeMAAAAA==" />
    <add key="/intelcpu/0/load/5/values" value="H4sIAAAAAAAEANNoc4yeevWux4YXAk799SlMDEAgaSro1BeSBGbHOE12dHyXCGavKj7pCACXWBjVMAAAAA==" />
    <add key="/intelcpu/0/load/6/values" value="H4sIAAAAAAAEANNoc4yeevWux53v4U799SlMDEBQnKnp1BeSBGZr2VxzdHyXCGbvE77vCADn3MDOMAAAAA==" />
    <add key="/intelcpu/0/load/7/values" value="H4sIAAAAAAAEANNoc4yeevWuh/Vfd6f++hQmBiDIVtdw6gtJArOj3rxwdHyXCGarnXruCABr6ignMAAAAA==" />
    <add key="/intelcpu/0/load/8/values" value="H4sIAAAAAAAEANNoc4yeevWuh2yUj1N/fQoTAxDwp6o69YUkgdm8aTcdHd8lgtnr5z5wBAA/ux6PMAAAAA==" />
    <add key="/intelcpu/0/load/9/values" value="H4sIAAAAAAAEANNoc4yeevWuR95yB6f++hQmBiC4/U3TqS8kCcx2en3U0fFdIpgt0PLXEQDl3yXRMAAAAA==" />
    <add key="/intelcpu/0/load/10/values" value="H4sIAAAAAAAEANNoc4yeevWux462aKf++hQmBiDIa9d36gtJArMnlt11dHyXCGbH+LM6AQD0i85PMAAAAA==" />
    <add key="/intelcpu/0/load/11/values" value="H4sIAAAAAAAEANNoc4yeevWux4XV/k799SlMDECg66Dm1BeSBGa/St7v6PguEczmn3THEQCSgTBkMAAAAA==" />
    <add key="/intelcpu/0/load/12/values" value="H4sIAAAAAAAEANNoc4yeevWuR5RBvFN/fQoTAxA8ZTFw6gtJArNXixx3dHyXCGYvfPvMEQCRqkqkMAAAAA==" />
    <add key="/intelcpu/0/load/13/values" value="H4sIAAAAAAAEANNoc4yeevWuR0J2jlN/fQoTAxA88DNx6gtJArMnqO9wdHyXCGY7uH93BABZ6yNRMAAAAA==" />
    <add key="/intelcpu/0/temperature/0/values" value="H4sIAAAAAAAEAHN87hQ99epdD4aG7U7FrslMDCDQsMtpY38ShM2w20mxJxHOBgChFZovMAAAAA==" />
    <add key="/intelcpu/0/temperature/1/values" value="H4sIAAAAAAAEAHN87hQ99epdj1mSa5yKXZOZGIAgLW2t08b+JDB75szVToo9iWB2utpqJwDbc64+MAAAAA==" />
    <add key="/intelcpu/0/temperature/2/values" value="H4sIAAAAAAAEANNoc4yeevWuB0PDdqf++hQmBhBo2OXUF5IEZe9wcnyXCGVvcwIA69P8pDAAAAA=" />
    <add key="/intelcpu/0/temperature/3/values" value="H4sIAAAAAAAEAHN87hQ99epdD4aG5U5lcslMDGCwysmuPwnCbljrNHFzIlR8rRMAzIcnRDAAAAA=" />
    <add key="/intelcpu/0/temperature/4/values" value="H4sIAAAAAAAEAHN87hQ99epdDwaGzU5lcslMDGCwzcmuPwnCbtjsNHFzIpS90QkAMDhlkzAAAAA=" />
    <add key="/intelcpu/0/temperature/5/values" value="H4sIAAAAAAAEAHN87hQ99epdDwaGzU5lcslMDGCwzcmuPwnCbtjsNHFzIpS90QkAMDhlkzAAAAA=" />
    <add key="/intelcpu/0/temperature/6/values" value="H4sIAAAAAAAEAHN87hQ99epdDwaGzU7FrslMDGCw1ckxIwnCbtjsNHFzIpS90QkArVqQGDAAAAA=" />
    <add key="/intelcpu/0/temperature/7/values" value="H4sIAAAAAAAEAHN87hQ99epdDwaGzU7FrslMDGCw1ckxIwnCbtjsNHFzIpS90QkArVqQGDAAAAA=" />
    <add key="/intelcpu/0/temperature/8/values" value="H4sIAAAAAAAEAHN87hQ99epdD4aGxU7FrslMDCDQsMhpY38ShM2wwEmxJxEqvtAJAJmLcUYwAAAA" />
    <add key="/intelcpu/0/temperature/9/values" value="H4sIAAAAAAAEAHN87hQ99epdD4aGxU7FrslMDCDQsMhpY38ShM2wwEmxJxEqvtAJAJmLcUYwAAAA" />
    <add key="/intelcpu/0/temperature/10/values" value="H4sIAAAAAAAEAHN87hQ99epdD4aGxU7FrslMDGCw2GljfxKUvcBJsScRwm5Y6AQAZX1aPzAAAAA=" />
    <add key="/intelcpu/0/temperature/11/values" value="H4sIAAAAAAAEAHN87hQ99epdD4aGxU7FrslMDCAAZG/sT4KwGRY4KfYkQsUXOgEADi1soTAAAAA=" />
    <add key="/intelcpu/0/temperature/12/values" value="H4sIAAAAAAAEAHN87hQ99epdDwaGHU6iFclMDCDQsMOJPzYJyt7lFNufAmEz7HQCAInIDZAwAAAA" />
    <add key="/intelcpu/0/temperature/13/values" value="H4sIAAAAAAAEANNoc4yeevWuBwMDi2N/fQoTAxjccOgLSYKyfzg4vkuEsnkcAYZdtgQwAAAA" />
    <add key="/intelcpu/0/temperature/14/values" value="H4sIAAAAAAAEAHN87hQ99epdDwaGJscyuWQmBjAocLTrT4KyQxwnbk6EsiMcAWN5qLMwAAAA" />
    <add key="/intelcpu/0/temperature/15/values" value="H4sIAAAAAAAEAHN87hQ99epdDwYGDccyuWQmBjAQcLTrT4KyVRwnbk6Esk0cAThWVbEwAAAA" />
    <add key="/intelcpu/0/temperature/16/values" value="H4sIAAAAAAAEAHN87hQ99epdDwYGDcdi12QmBjAQcHTMSIKyVRwnbk6Esk0cAV3Z98gwAAAA" />
    <add key="/intelcpu/0/temperature/17/values" value="H4sIAAAAAAAEAHN87hQ99epdDwYGDcdi12QmBjCQcHTMSIKyVRwnbk6Esk0cAeH03p0wAAAA" />
    <add key="/intelcpu/0/temperature/18/values" value="H4sIAAAAAAAEAHN87hQ99epdDwYGDcdi12QmBjCQcHTMSIKyVRwnbk6Esk0cAeH03p0wAAAA" />
    <add key="/intelcpu/0/temperature/19/values" value="H4sIAAAAAAAEAHN87hQ99epdDwaGSY7FrslMDGAwzXFjfxKUvcBRsScRyp7lCAD/dnaPMAAAAA==" />
    <add key="/intelcpu/0/temperature/20/values" value="H4sIAAAAAAAEAHN87hQ99epdDwaGSY7FrslMDGAwzXFjfxKUvcBRsScRyp7lCAD/dnaPMAAAAA==" />
    <add key="/intelcpu/0/temperature/21/values" value="H4sIAAAAAAAEAHN87hQ99epdDwaGSY7FrslMDGAwxXFjfxKUvcBRsScRyp7lCACQPTyaMAAAAA==" />
    <add key="/intelcpu/0/temperature/22/values" value="H4sIAAAAAAAEAHN87hQ99epdDwaGSY7FrslMDGAwyXFjfxKUvcBRsScRyp7lCAAh4OKlMAAAAA==" />
    <add key="/intelcpu/0/clock/0/values" value="H4sIAAAAAAAEAJO8FBE99epdjwMbjzu98EhlYgAC0XXHnWZoJcLZfZdSwGwxIBsAkgQ2sDAAAAA=" />
    <add key="/intelcpu/0/clock/1/values" value="H4sIAAAAAAAEANuwyjl66tW7HmHabK77HqQwMQBBWhqP66b6RDC7RsTCdck2iHhsv6wrAAc8zF8wAAAA" />
    <add key="/intelcpu/0/clock/2/values" value="H4sIAAAAAAAEANN+7Ro99epdD1MvTtfVf1KYGIBgnTun67LqRDDbxNja1WwjTNzAFQBdFqzUMAAAAA==" />
    <add key="/intelcpu/0/clock/3/values" value="H4sIAAAAAAAEAFtr7RE99epdDyUvTtcQiVQmBiCYNZPF9XxeIpj9TUPXlftcCpg9e6a2KwCiCSnuMAAAAA==" />
    <add key="/intelcpu/0/clock/4/values" value="H4sIAAAAAAAEANPt9oqeevWux7PZLK67TVOZGICg/9Bjl1mliWD2hEOiruZrUsDsde6crgAZxW+1MAAAAA==" />
    <add key="/intelcpu/0/clock/5/values" value="H4sIAAAAAAAEAPv5yid66tW7HsJPJFxlXFOZGICg9fVZl8mxiWC2ibG168NjKWB2epqxKwAF+QDTMAAAAA==" />
    <add key="/intelcpu/0/clock/6/values" value="H4sIAAAAAAAEANvo5B899epdD84nEq5y4alMDEBgx8XsujMqEcyecEjUNWpBCpi9U07eFQAy2JwpMAAAAA==" />
    <add key="/intelcpu/0/clock/7/values" value="H4sIAAAAAAAEACvrC4yeevWuh/tRUdfNKalMDEBw+Cuv6xe7RDA7pv+Iy4NNKWD2hEM2rgAsV5amMAAAAA==" />
    <add key="/intelcpu/0/clock/8/values" value="H4sIAAAAAAAEAHv0JTh66tW7HoHHHrvc8ktlYgCC9DQe1y/WiWB262tfV64rKWB28A52VwCNyYr4MAAAAA==" />
    <add key="/intelcpu/0/clock/9/values" value="H4sIAAAAAAAEALsdHRY99epdj+8ZPK4WfqlMDEDAfZ3L1VInEcz2eCjhmvouBc4GAO0V/zkwAAAA" />
    <add key="/intelcpu/0/clock/10/values" value="H4sIAAAAAAAEAJO8FBE99epdj5nLH7i88EhlYgCCWTN/uszQSgSz3wSKu/ZdSgGzlxZIuQIAefHG1zAAAAA=" />
    <add key="/intelcpu/0/power/0/values" value="H4sIAAAAAAAEAJO8FBE99epdj3cvEh1feKQyMQCB84EkxxlaiWD2HZkAx75LKWC2w91ERwC/wbyMMAAAAA==" />
    <add key="/intelcpu/0/power/1/values" value="H4sIAAAAAAAEAJO8FBE99epdD+PnPx1eeKQyMQBBQPxPhxlaiWC20scnDn2XUsDsi5XMjgAE9BjWMAAAAA==" />
    <add key="/intelcpu/0/power/3/values" value="H4sIAAAAAAAEAJO8FBE99epdDwYg4HPTZmeAAgCFCu96GAAAAA==" />
    <add key="/intelcpu/0/power/4/values" value="H4sIAAAAAAAEAJO8FBE99epdD7uJdxxfeKQyMQDBs9rbjjO0EsHsNQfOOPZdSgGzs2WuOAIAPfJRpzAAAAA=" />
    <add key="/intelcpu/0/voltage/0/values" value="H4sIAAAAAAAEAJO8FBE99epdDwYJJ/sXHqlMDCBwIMF+hlYihK3Xa993KQXCDii3BwCYSdYxMAAAAA==" />
    <add key="/intelcpu/0/voltage/1/values" value="H4sIAAAAAAAEAJO8FBE99epdDwaWGPsXHqlMDCAwIdZ+hlYihM030b7vUgqEbZVlDwCc17NcMAAAAA==" />
    <add key="/intelcpu/0/voltage/2/values" value="H4sIAAAAAAAEAJO8FBE99epdD4ZP0fYvPFKZGEAgJdpe2D8Rwv7VZy+8LgXCXpVuDwBn6iCNMAAAAA==" />
    <add key="/intelcpu/0/voltage/3/values" value="H4sIAAAAAAAEAJO8FBE99epdD4YfjvYvPFKZGEDgV6y9sH8ihH2pz154XQqE3RdnDwCdYpE8MAAAAA==" />
    <add key="/intelcpu/0/voltage/4/values" value="H4sIAAAAAAAEAJO8FBE99epdDwYBe/sXHqlMDCAwx91e2D8RwrbstRdelwJhP8izBwA9/HcjMAAAAA==" />
    <add key="/intelcpu/0/voltage/5/values" value="H4sIAAAAAAAEAJO8FBE99epdD4Yke/sXHqlMDCCwzs1e2D8RwvaosxdelwJhT8m1BwCQIPMuMAAAAA==" />
    <add key="/intelcpu/0/voltage/6/values" value="H4sIAAAAAAAEAJO8FBE99epdDwYuR/sXHqlMDCCww9Ve2D8RwpZqsBdelwJh/8i2BwCaaaWPMAAAAA==" />
    <add key="/intelcpu/0/voltage/7/values" value="H4sIAAAAAAAEAJO8FBE99epdD4YJUfanC1KZGMDA3d5APRHCFmi0F16XAmGb5dkDACXHBkAwAAAA" />
    <add key="/intelcpu/0/voltage/8/values" value="H4sIAAAAAAAEAHv8MyJ66tW7HgzfHOwZPVOZGECgxMPeQD0Rwl7ZZy+8LgXCnpdjDwBsFHL2MAAAAA==" />
    <add key="/intelcpu/0/voltage/9/values" value="H4sIAAAAAAAEAHv8MyJ66tW7HgxdsfaMnqlMDCAgF2pvoJ4IYVv22oe/TIGwP+TYAwDuWO+LMAAAAA==" />
    <add key="/intelcpu/0/voltage/10/values" value="H4sIAAAAAAAEAHv8MyJ66tW7Hgw6cfaMnqlMDCCww8/eQD0RwrbotQ9/mQIVL7QHAFXsXTAwAAAA" />
    <add key="plotPanel.MinVoltage" value="0" />
    <add key="plotPanel.MaxVoltage" value="100" />
    <add key="plotPanel.MinCurrent" value="0" />
    <add key="plotPanel.MaxCurrent" value="100" />
    <add key="plotPanel.MinPower" value="0" />
    <add key="plotPanel.MaxPower" value="100" />
    <add key="plotPanel.MinClock" value="0" />
    <add key="plotPanel.MaxClock" value="100" />
    <add key="plotPanel.MinTemperature" value="0" />
    <add key="plotPanel.MaxTemperature" value="100" />
    <add key="plotPanel.MinLoad" value="0" />
    <add key="plotPanel.MaxLoad" value="100" />
    <add key="plotPanel.MinFrequency" value="0" />
    <add key="plotPanel.MaxFrequency" value="100" />
    <add key="plotPanel.MinFan" value="0" />
    <add key="plotPanel.MaxFan" value="100" />
    <add key="plotPanel.MinFlow" value="0" />
    <add key="plotPanel.MaxFlow" value="100" />
    <add key="plotPanel.MinControl" value="0" />
    <add key="plotPanel.MaxControl" value="100" />
    <add key="plotPanel.MinLevel" value="0" />
    <add key="plotPanel.MaxLevel" value="100" />
    <add key="plotPanel.MinFactor" value="0" />
    <add key="plotPanel.MaxFactor" value="100" />
    <add key="plotPanel.MinData" value="0" />
    <add key="plotPanel.MaxData" value="100" />
    <add key="plotPanel.MinSmallData" value="0" />
    <add key="plotPanel.MaxSmallData" value="100" />
    <add key="plotPanel.MinThroughput" value="0" />
    <add key="plotPanel.MaxThroughput" value="100" />
    <add key="plotPanel.MinTimeSpan" value="0" />
    <add key="plotPanel.MaxTimeSpan" value="600" />
    <add key="plotPanel.MinEnergy" value="0" />
    <add key="plotPanel.MaxEnergy" value="100" />
    <add key="plotPanel.MinNoise" value="0" />
    <add key="plotPanel.MaxNoise" value="100" />
    <add key="plotPanel.MinConductivity" value="0" />
    <add key="plotPanel.MaxConductivity" value="100" />
    <add key="plotPanel.MinHumidity" value="0" />
    <add key="plotPanel.MaxHumidity" value="100" />
    <add key="treeView.Columns.Sensor.Width" value="672" />
    <add key="treeView.Columns.Value.Width" value="100" />
    <add key="treeView.Columns.Min.Width" value="100" />
    <add key="treeView.Columns.Max.Width" value="100" />
    <add key="listenerIp" value="?" />
    <add key="listenerPort" value="8085" />
    <add key="authenticationEnabled" value="false" />
    <add key="authenticationUserName" value="" />
    <add key="authenticationPassword" value="e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855" />
  </appSettings>
</configuration>